<div class="container">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      {{pageTitle}}
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by text:</div>
        <div class='col-md-4'>
          <input type='text' class="form-control" [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h3>Filtered by: {{listFilter}} </h3>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf='githubUsers && githubUsers.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary' (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>id</th>
              <th>Name</th>
              <th>Blog</th>
              <th>Repos</th>
              <th>Created on</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let githubUser of filterGithubUsers'>
              <td>
                <img *ngIf='showImage' [src]='githubUser.avatar_url' [title]='githubUser.name' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
              </td>
              <td>{{ githubUser.id }}</td>
              <td>{{ githubUser.name }}</td>
              <td>{{ githubUser.blog }}</td>
              <td>{{ githubUser.public_repos }}</td>
              <td>{{ githubUser.created_at | date:'mediumDate' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
